# Default ignored files
/shelf/
/workspace.xml
/tasks.xml
/gradle.xml
/assetWizardSettings.xml
/dictionaries
/libraries
/dataSources.ids
/dataSources.xml
/dataSources.local.xml
/sqlDataSources.xml
/dynamic.xml
/uiDesigner.xml
/dbnavigator.xml
/caches/
/modules.xml
/navEditor.xml
/vcs.xml
